.gridContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gridItem {
  margin-bottom: 0.5rem;
  flex-basis: 100%;
}

.inputContainer {
  display: flex;
}

.inputDescription {
  margin-top: 6px;
  margin-right: 0.3rem;
  min-width: 75px;
}
