.inputContainer {
  display: flex;
}

.inputDescription {
  margin-top: 6px;
  margin-right: 0.3rem;
  min-width: 75px;
}

.executeCard {
  background-color: #eff5fb;
  border-radius: 0.5rem;
  margin-left: 0px;
  padding-top: 7px;
}
