@charset "utf-8";
@import '../node_modules/bulma/bulma.sass';

html,
body {
  padding: 30px 0 0 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

code {
  word-break: break-all;
}

.is-outlined.is-purple {
  background-color: transparent;
  border-color: purple;
  color: purple;
}

.is-purple {
  background-color: rgba(128, 0, 128, 0.45);
  border-color: transparent;
  color: black;
}

.is-outlined.is-orange {
  background-color: transparent;
  border-color: orange;
  color: orange;
}

.is-orange {
  background-color: rgba(255, 165, 0, 0.45);
  border-color: transparent;
  color: black;
}

.is-outlined.is-orange-dark {
  background-color: transparent;
  border-color: #b37700;
  color: #b37700;
}

.is-orange-dark {
  background-color: rgba(179, 119, 0, 0.45);
  border-color: transparent;
  color: black;
}

.navbar-link {
  min-width: 160px;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.home-container {
  text-align: center;
}

.home-link {
  color: #438fda;

  &:hover {
    color: #438fda;
    text-decoration: underline;
  }
}

.dataKeyBox {
  background-color: #f7fafd;
  border-radius: 0.5rem;
}

// ABI Encoder

.radioInput {
  margin-right: 0.5rem;
}

.radioLabel + .radioLabel {
  margin-left: 1.2rem;
}

pre,
code {
  border-radius: 0.5rem;
}
